'scopeName': 'source.avdl'
'name': 'Avro IDL (avdl)'
'fileTypes': [
    'avdl'
]
'foldingStartMarker': '\{\s*$'
'foldingStopMarker': '^\s*\}'
'patterns': [
    {
        'begin': '//'
        'end': '\\n'
        'name': 'comment.line.double-slash.avdl'
    }
    {
        'begin': '\/\*'
        'end': '\*\/'
        'name': 'comment.line.block.avdl'
    }
]
