'scopeName': 'source.avdl'
'name': 'Avro IDL (avdl)'
'fileTypes': [
    'avdl'
]
'patterns': [
    {
        'begin': '//'
        'end': '\\n'
        'name': 'comment.line.double-slash.avdl'
    }
    {
        'begin': '/\\*'
        'end': '\\*/'
        'name': 'comment.block.avdl'
    }
]
